{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-3">Posts by {{ author['username'] }} ({{ p['total'] }})</h1>
    {% if current_user.is_authenticated %}
        {% if current_user.username != author['username'] %}
            <form method="GET" action="{{ url_for('auth.follow_user', username=author['username']) }}">
                <button type="submit">Follow him/her!</button>
            </form>
        {% endif %}
    {% endif %}
    <h3 class="mb-3">{{ author['follower_count'] }} followers</h3>

    {% include "partials/posts_list.html" %}

    {% include "partials/pagination.html" %}
{% endblock %}
