.DS_Store

# Python compilation files
__pycache__/
*.pyc

# SQLite database files
flask_blog/*.db

# Project files
.idea/
.vscode/

# Git-related files
.git/
.gitignore

# Docker-related files
Dockerfile
.dockerignore
