.DS_Store

# Python compilation files
__pycache__/
*.pyc

# SQLite database files
*.db

# User profile pictures
flask_app/flask_blog/static/profile_pics/*
!flask_app/flask_blog/static/profile_pics/default.jpg

# Project files
.idea/
.vscode/
