[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-bcrypt = "*"
flask-limiter = "*"
flask-login = "*"
flask-marshmallow = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
marshmallow = "~=3.2.1"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
requests = "*"
redis = "*"

[requires]
python_version = "3.7"
