.DS_Store

# Python compilation files
__pycache__/
*.pyc

# SQLite database files
flask_blog/*.db

# User profile pictures
flask_blog/static/profile_pics/*
!flask_blog/static/profile_pics/default.jpg

# Docker-related files
Dockerfile
.dockerignore
