<form id="comment-form" method='POST' action="{{ url_for('posts.comment_post', post_id=post['id']) }}">
    <article class="article-content">
        <textarea
                class="textarea"
                name="comment"
                form="comment-form"
                placeholder="What do you think of this post? Join the conversation here."
                required></textarea>
    </article>
    <article class="article-content">
        <input class="button is-primary" type="submit" value="Submit">
    </article>
</form>
